canvas{
  position: absolute;
}

#particles-js{
  position: absolute;
  overflow: hidden;
  width:100%;
  height:100%;
  z-index: -1;
  background: linear-gradient(52deg, #3aa4d5, #19d2e6, #267cf3, #ddd019, #ee3f2d);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  -o-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}


  @-webkit-keyframes AnimationName {
      0%{background-position:0% 83%}
      50%{background-position:100% 18%}
      100%{background-position:0% 83%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 83%}
      50%{background-position:100% 18%}
      100%{background-position:0% 83%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 83%}
      50%{background-position:100% 18%}
      100%{background-position:0% 83%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 83%}
      50%{background-position:100% 18%}
      100%{background-position:0% 83%}
  }

body{
  width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 90px;
  letter-spacing: 2px;
  color: white;
  text-decoration: underline;
  opacity: 1;
  animation-name: subtext;
  animation-duration: 1s;
}

@keyframes subtext{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
