body {
  background: rgb(255, 215, 156);
  background: linear-gradient(90deg, rgba(255, 215, 156, 1) 20%, rgba(29, 86, 123, 1) 100%);
  height: 100vh;
}
#navtop{
  background-color: #895024;
  text-decoration: none;
  color: #53600E;
}
/* #sidebar header {
  background-color: #FFD79C;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  box-shadow: 2px 2px 6px black;
} */
#boo {
  color: #53600E;
  font-weight: bold;
  font-size: 30px;
}

#content{
  margin: 0;
  padding: 0;
}
#list_book{
  margin: 0;
}
#list_book table img{
width:20%;
}
.card-title {

  color: white;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

.card-body img {
  width: 30px;
}


.simple_data{
  color : black;
  border: solid 2px #895024;
}
.simple_data span{
  color : #F5B638;
}

#king {
  width: 30px;
}

#gold {
  background: #F5B638;
  border-bottom: 2px solid black;
}

#silver {
  background: #928989;
  border-bottom: 2px solid black;
}

#bronze {
  background: #895024;
  border-bottom: 2px solid black;
}

#endlist {
  border-bottom: 2px solid black;
  background: white;
}
