{% extends 'base.html.twig' %}

{% block title %}Hello ReserveController!{% endblock %}

{% block body %}
<p>{{vente.nom}}</p>
{{ form_start(form) }}

<button type="submit" class="btn">submit</button>
{{ form_end(form) }}
{% endblock %}
